<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="car" class="com.fastcampus.ch3.Car" >
    <property name ="color" value ="lime"/>
    <property name="oil" value="999"/>  <!--기본형과 string 일때만 value  이고 나머지 값은 ref 이다 -->
    <property name="engine" ref="engine"/>
    <property name="doors">
        <array value-type="com.fastcampus.ch3.Door">
        <ref bean="door"/>
        <ref bean="door"/>
        </array>
    </property>



    </bean>
    <bean id="engine" class="com.fastcampus.ch3.Engine"/>
    <bean id="door" class="com.fastcampus.ch3.Door"/>
    <bean id="handle" class="com.fastcampus.ch3.Handle" />
    <!--prototype 설정하면 새로운객체가 생성이 된다 -->
    <!--scope설정이 안되어있으면 기본값 singleton 이다-->





</beans>